@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.lista{
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista h1{
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}
